on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: generate-and-test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: .go-version

      - name: get modules
        run: go mod vendor

      - name: generate
        run: make generate

      - name: format
        run: make format && git diff --exit-code

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.2

      - name: run tests
        run: make test
