on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: generate-and-test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.21

      - name: get modules
        run: go mod vendor

      - name: generate
        run: make generate

      - name: format
        run: make format && git diff --exit-code

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7.0.0
        with:
          version: v2.1.2

      - name: run tests
        run: make test
