on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: generate-and-test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version

      - name: get modules
        run: go mod vendor

      - name: generate
        run: make generate

      - name: format
        run: make format && git diff --exit-code

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.1.2

      - name: run tests
        run: make test
